
@{
    ViewData["Title"] = "EmailValid";
}
<link type="text/css" rel="stylesheet" href="~/styles/bootstrap.min.css">
<script src="~/script/bootstrap.min.js"></script>
<script src="~/script/jquery-1.10.2.min.js"></script>
<div class="alert alert-danger" role="alert">
    This account has no valid email,please check it or <a><b>RESEND NEW EMAIL ACTIVATION</b></a>
</div>
