
@{
    ViewData["Title"] = "EmailValid";
}
<link type="text/css" rel="stylesheet" href="~/styles/bootstrap.min.css">
<script src="~/script/bootstrap.min.js"></script>
<script src="~/script/jquery-1.10.2.min.js"></script>
<div class="alert alert-danger" role="alert">
    Mail Activation time is expired <a><b>RESEND NEW EMAIL ACTIVATION</b></a>
</div>
